* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }

  html {
    scroll-behavior: smooth;
  }  
  
  body {
    background: #f8f5f2;
    color: #333;
    transition: 0.3s;
  }
  
  header {
    background: #3b2f2f;
    color: #fff;
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    gap: 20px;   /* space between text and button */
    max-width: 600px;
  }
  
  .hero h1 {
    font-size: 3rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    line-height: 1.5;
  }
  
  
  .btn {
    background: #d4a373;
    padding: 12px 25px;
    text-decoration: none;
    color: #000;
    border-radius: 5px;
  }
  
  .about, .menu, .contact {
    padding: 50px 20px;
    text-align: center;
  }
  
  .info {
    display: flex;
    justify-content: space-around;
    background: #fff;
    padding: 30px 10px;
  }
  
  .menu input {
    padding: 10px;
    width: 80%;
    margin: 15px 0;
  }
  
  .menu ul {
    list-style: none;
    margin-bottom: 15px;
  }
  
  .menu li {
    padding: 5px 0;
  }

  form {
    max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
  }
  
  form input, form textarea {
    width: 100%;
  padding: 12px;
  border: 1px solid #999;
  border-radius: 4px;
  font-size: 16px;
  }
  
  form button {
    align-self: center;   /* centers the button */
  padding: 10px 30px;
  background: #3b2f2f;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  }
  
  /* Scroll Animation */
  .fade {
    opacity: 0;
    transform: translateY(40px);
    transition: 0.6s ease;
  }
  
  .show {
    opacity: 1;
    transform: translateY(0);
  }
  
  /* Mobile */
  @media (max-width: 768px) {
    .info {
      flex-direction: column;
      gap: 20px;
    }
  }
  